table {
    border-radius: 10px;
    background-color: rgb(72, 81, 216);
    border: 1px solid black;
    height: 60px;
    width: 320px;
    padding: 20px;
  }

td {
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  height: 60px;
  width: 320px;
}

th {
    border-radius: 10px;
    background-color: rgb(72, 81, 216);
    height: 75px;
    width: 320px 
}

.display {
    font-size: 30px;
    background-color: grey;
    border: 3px solid black;
    text-align: right;
    padding-inline-end: 5%;
    margin-bottom: 10px;
}

#calculator {
  padding: 75px;
}

.button {
  font-size: 15pt;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  fill: 100%;
}

body {
  background-color: rgb(175, 35, 35);
}

h1 {
  padding-top: 30px;
  font-size: 30pt;
  color: white;
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}